<div class="header">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/tab-styling.css' %}">
  {% if True %}
  <table id="header-table">
    <tr>
      <td id="header-left">
        <h2>Earthquake Map App</h2>
      </td>
      <td id="header-right">
        <a class="home-page" href="/">HOME</a><br>
        <span>Welcome <%= current_user.first_name %></span><br>
        <span><%= current_user.email %></span>
        <form id="logout_user_form" action="/sessions/logout" method="POST">
           <input type="hidden" name="_method" value="DELETE">
           <input type="submit" value="Logout">
        </form>
      </td>
    </tr>
  </table>
{% else %}
  <table id="header-table">
    <tr>
      <td id="header-left">
        <h2>Dynamic Earthquake Mapper</h2>
      </td>
      <td id="header-right">
        <a class="home-page" href="/">HOME</a><br>
        <a class="register_link" href="/users/new">REGISTER</a><br>
        <a class="login_link" href="/sessions/login">LOG IN</a>
      </td>
    </tr>
  </table>
{% endif %}

  <ul class="tabs">
    <li><a href="/user_events">Data Management</a></li>
    <li><a href="/events">Earthquake Map</a></li>
    <li class="active"><a href="/data_viz">Earthquake Visualization</a></li>
    <li><a href="/users/<%= session[:id] %>">Account Data</a></li>
  </ul>
</div>
