
{% include 'partials/_header.html' %}

<div class="container">
  <ul class="tabs">
    <li><a href="/user_events"><strong>Data Management</strong></a></li>
    <li class="active"><a href="/events"><strong>Earthquake Map</strong></a></li>
    <li><a href="/data_viz"><strong>Earthquake Visualization</strong></a></li>
    <li><a href="/users/<%= session[:id] %>"><strong>Account Data</strong></a></li>
  </ul>
</div>

<div class="display-top"></div>

<div class="map-display" id="map">



  <% api_key = ENV['GOOGLE_EARTH_KEY'] %>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%="#{api_key}"%>&callback=initMap"></script>


<hr>


</div>
