{% extends "base.html" %}

{% block content %}
  <!-- <script type="text/javascript">$('#map-tab').addClass('active')</script> -->
<table>
  <tr>
    <td>
      <div class="map-display" id="map" style="width:900px; margin:5px; border: 2px solid black;">
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"></script>
      </div>
    </td>
    <td id="location-button-container">
      <form id="plot-all-form" action="{% url 'map_tab' %}" method="GET">
        <button class="loc-button" id="plot-all-button" type="submit">SHOW ALL</button>
      </form>
      <form id="clear-all-form" action="{% url 'map_tab' %}" method="GET">
        <button class="loc-button" id="clear-map-button" type="submit">CLEAR</button>
      </form>
      <hr>
      {% for location in locations %}
      <form class="plot-catalog-form" action="/locations/{{location.id}}/" method="get">
        <button class="loc-button" id="{{location.id}}" type="submit">{{ location.name }}</button>
      </form>
      {% endfor %}
    </td>
  </tr>
</table>
{% endblock %}
