{% extends "base.html" %}

{% block content %}
  <!-- <script type="text/javascript">$('#map-tab').addClass('active')</script> -->
<table>
  <tr>
    <td>
      <div class="map-display" id="map" style="width:900px; margin:5px; border: 2px solid black;">
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap"></script>
      </div>
    </td>
    <td>
      {% for location in locations %}
      <form class="" action="index.html" method="get">
        <button class="loc-button" type="submit" name="button">{{ location.name }}</button>
      </form>
      {% endfor %}
    </td>
  </tr>
</table>
{% endblock %}
