{% extends "base.html" %}

{% block content %}
  <div class="display-main">
    <table>
      <tr>
        <td id="catalog-form">
          <h3>Create New Dataset</h3>
          <div>
            <form id="create-catalog-form" action="{%url 'create_catalog' %}" method="POST">
              <input type="text" name="name" placeholder="Dataset Name"><br>
              <input type="text" id="lat-field" name="lati" placeholder="Latitude"><br>
              <input type="text" id="long-field" name="longi" placeholder="Longitude"><br>
              <input type="text" name="radius" placeholder="Radius (km)"><br>
              <input type="date" name="starttime" placeholder="Start Date"><br>
              <input type="date" name="endtime" placeholder="End Date"><br>
              <input type="text" name="minmag" placeholder="Minimum Magnitude"><br>
              <input type="submit" class="loc-button" name="Get Earthquakes">
            </form>
        </td>
        <td style="width:800px;">
          <div class="map-display" id="map">
            <script async defer
              src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
            </script>
          </div>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
